<h1 class="heading">Deleted Comments</h1>
<div class="btn-div">
    <button class="back-btn">
        <%=link_to 'Back', root_path%>
    </button>
</div>
<div class="listDiv">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>Comments</th>
        <th>Time</th>
        <th>Action</th>
        </tr>
    </thead>

    <tbody>
    <% if @comments.any?%>
    <% @comments.each do |comment|%>
    <tr>
      <td><%= comment.text%></th>
 <td><%= comment.updated_at%></td>
     
      <td class="mb-3 col-sm-2">
      <%=form_with url: dell_comment_path(comment),method: "put" do |f| %>
        <%=f.submit "Restore"%>
    <%end%>
    
    <%=button_to "Delete", comment, method: :delete%>
  
       </td>
  
    </tr>
    <% end %>
    <%else%>
    <h2>No item</h2>
    <%end%>
    </tbody>
</table>

</div>