<h2 class="heading m-3">Edit Item</h2>
<div>
<%= form_with  model: @item, url: {action: "update"}, local:true, class:"input-form"  do |f|%>
    <div class="form-div m-3" >

    <div class="mb-3 col-sm-8">
    <%= f.label :name, class:"form-label" %><br>
    <%= f.text_field :name, class:"form-control",  required: true, id:"name"%><br>
    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :quantity, class:"form-label" %><br>
    <%= f.number_field :quantity,  class:"form-control" , required: true, id:"quantity"%><br>
    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :unit_price, class:"form-label" %><br>
    <%= f.number_field :price ,  class:"form-control" , required: true, id:"price", placeholder: '1',step: :any%><br>
    </div>

    <div class="mb-3 col-sm-2">
    <%= f.submit "Update Item", class:"btn btn-primary form-control" %>
    </div>
    </div>
<%end%>



<div class="form-div m-3" >
  <div class="mb-3 col-sm-2">
    
        <%=link_to 'Back', items_path, class:"btn btn-primary form-control"%>
  </div>
</div>
</div>


