
    <div><h1 class="m-3">Item Details</h1></div>
    <div class="mb-3 col-sm-2">
        <%= link_to "View Deleted Comments", deleted_comments_path(@item), class:"btn btn-primary form-control m-3" %>
    </div>
    <div class="d-flex"> 
        <p class="h3 p-2">Name: <%=@item.name%></p>
        <p class="h3 p-2">Quantity: <%=@item.quantity%></p>
        <p class="h3 p-2">Unit_Price: <%=@item.price%></p>
    </div>

   
    <ul class="list-group">
        <%if @item.comments.count>0%>
            <% @item.comments.where(dell: false).each do |comment|%>
                
                <li class="list-group-item m-3">
                   <p class="m-1"> <%=comment.text%></p>
                    <%=form_with url: dell_comment_path(comment),method: "put" do |f| %>
                        <div class="mb-3 col-sm-2">
                        <%=f.submit "dell" ,class:"btn btn-primary form-control"%>
                        </div>
                    <%end%>
                   
                 </li>
                 
            <%end%>
        <%else%>
                <li class="list-group-item m-3 h3">No comments</li>
        <%end%>

    </ul>
   
 
<%= render partial: 'comments/form'%> 


<div class="mb-3 col-sm-2">
        <%=link_to 'Back', root_path, class:"btn btn-primary form-control m-3"%>
   
</div>
